        body{
            margin: 0;
        }

        img{
            max-width: 100%;
        }

        header{
            background-color: azure;
        }

        header, main{
            padding: 10px 20px;
        }

        ul{
            padding-left: o;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        li{
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid grey;
        }

        li:last-child {
            border: none;
        }

        h3{
            color: rgb(215, 122, 34);
        }

        h2,h3,li{
            font-family: Barlow Condensed, Arial, Helvetica, sans-serif;
        }

        .p-regular{
            color:darkgray;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }

        @media (min-width: 744px){
            header {
                display: flex;
                justify-content: space-between;
            }
            
            ul{
                flex-direction: row;
                justify-content: end;
            }

            li{
                border-right: 1px solid grey;
                padding: 0 10px;
                border: none;
            }
            main{
                columns: 2;
            }
        }

        @media (min-width: 968px){
            main{
                columns: 3;
                width: 968px;
                margin: auto;
            }
        }

        